<!DOCTYPE html>
<html>
  <head>
    <title>Crew manager</title>
    <link
      rel="stylesheet"
      href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"
    />
    <!-- load bootstrap css -->
    <link
      rel="stylesheet"
      href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"
    />
    <link rel="stylesheet" href="/stylesheets/crew-manager.css" />
  </head>
  <body>
    <div class="container">
      <div class="col-sm-12">
        <h1><span class="fa fa-sign-in"></span>Crew manager</h1>
        <div class="drag-container">
          <ul class="drag-list">
            <li class="drag-column">
              <span class="drag-column-header">
                <h2>Group one</h2>
                <svg
                  class="drag-header-more"
                  data-target="options1"
                  fill="#FFFFFF"
                  height="24"
                  viewBox="0 0 24 24"
                  width="24"
                >
                  <path d="M0 0h24v24H0z" fill="none" />
                  <path
                    d="M12 8c1.1 0 2-.9 2-2s-.9-2-2-2-2 .9-2 2 .9 2 2 2zm0 2c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2zm0 6c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2z"
                  />
                </svg>
              </span>
              <div class="drag-options" id="options1"></div>
              <ul class="drag-inner-list" id="1">
				  <% for(var i=0; i<gangsters.length;i++) {%>
					<li class="drag-item"><%=gangsters[i].name %> ⚔️<%=gangsters[i].bm %> 🏵<%=gangsters[i].dzen %> </li> 
				  <%} %>
			  </ul>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <script src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/45226/dragula.min.js"></script>
    <script id="rendered-js">
      dragula([
        document.getElementById("1"),
        document.getElementById("2"),
        document.getElementById("3"),
        document.getElementById("4")
      ])
        .on("drag", function(el) {
          // add 'is-moving' class to element being dragged
          el.classList.add("is-moving");
        })
        .on("dragend", function(el) {
          // remove 'is-moving' class from element after dragging has stopped
          console.log(el);
          el.classList.remove("is-moving");

          // add the 'is-moved' class for 600ms then remove it
          window.setTimeout(function() {
            el.classList.add("is-moved");
            window.setTimeout(function() {
              el.classList.remove("is-moved");
            }, 600);
          }, 100);
        });
    </script>
  </body>
</html>
